body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('image/day.jpeg') no-repeat center center fixed;
    background-size: cover;
    transition: background 1s ease-in-out;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.input-group {
    position: relative;
    right: 10px;
}

#location {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    
    margin-right: 400px;
    
}

.suggestions {
    position: absolute;
    
    background: white;
    border: 1px solid #ccc;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.suggestions div {
    padding: 10px;
    cursor: pointer;
    margin-right: 100px;
}

.suggestions div:hover {
    background: #e0e0e0;
}

.button-group {
    margin-top: 10px;
}

#weatherData {
    margin-top: 20px;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
    }
}

